@media screen and (max-width: 991px) {
    .container-4 img{
        height: 130px;
        border-radius: 20px;
        margin: 5px;
    }

    .container-9 img{
        height: 150px;
        border-radius: 20px;
        margin: 5px;
    }



}

@media screen and (max-width: 880px) {
    .col .img-plus {
        display: none;
    }

}



@media screen and (max-width: 400px) {
    .social {
        display: none;
    }

    .container-12-dentro img{
        height: 50px;
    }

    .container-13-dentro img {
        height: 50px;
    }

    .container-3 img {
        display: none;
    }

    .rounded {
        display: none;
    }

    .container-8 img {
        display: none;
    }

    .sconti img{
        display: none;
    }

}


