/* * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} */

.section-1 {
    background-color: black;
}

.container-1 {
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

.container-1 img {
    height: 100%;
    max-height: 20px; 
    display: flex;
    justify-content: flex-end;
}

.container-2 a{
    color: black;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #212529;
}


.navbar-toggler-icon {
    color: black;
}

.container-3 {
    margin-top: 100px;
    background-image: url(/img/jumbo-bg.png);
    height: 675px;
    background-position: center;
    display: flex;
}

.container-3 img {
    height: 100%;
    max-height: 50px;
    margin-bottom: 30px;
}

.container-3 .container-3-dentro {
    margin-top: 200px;
    margin-left: 50px ;
    color: white;
}

.container-3 .container-3-dentro p {
    width: 35%;
}

.container-4 {
    margin-top: 30px;
}

.container-4 img{
    height: 100%;
    max-height: 100px;
    border-radius: 20px;
    margin: 5px;
}

.container-5 {
    margin-top: 100px;

}



.container-5 p {
    color: #727272;
}


.container-6 {
    margin-top: 100px;
    display: flex;
    
}


.container-6 img {
    height: 100%;
    max-height: 400px;
}



.container-7 img {
    height: 100%;
    max-height: 100px;
}

.container-8 {
    margin-top: 100px;
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
    height: 900px;
    background-position: center;
    display: flex;
    color: white;
}


.container-8 img {
    height: 100%;
    max-height: 200px;
    margin-bottom: 20px;
}

.container-8-dentro {
    margin-top: 200px;
    margin-left: 50px ;
    color: white;
}

.container-8-dentro p {
    max-width: 350px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.container-8-dentro h2 {
    max-width: 550px;
    margin-bottom: 20px;
    font-size: 2.5em;
}

.container-9 {
    background-color:#1f1f1f ;
    color: white;
    padding: 2em;
}

.container-9 img {
    height: 100%;
    max-height: 200px;
}

.container-10 {
    margin-top: 100px;
}

.container-10 h3 {
    max-width: 700px;
    text-align: center;
}


.container-11 img {
    height: 100%;
    max-height: 100px;
}




.container-12 {
    margin-top: 100px;
    background-color: #bebcbb ;
    /* height: 900px; */
    /* background-position: center; */
    /* display: flex; */
    color: white;
    /* justify-content: center; */
}


.container-12 img {
    height: 100%;
    max-height: 100px;
    margin-bottom: 20px;
}

.container-12-dentro {
    /* margin-top: 200px; */
    margin-left: 50px ;
}

.container-12-dentro p {
    max-width: 750px;
    margin-bottom: 20px;
    font-size: 1em;
}

.col .img-plus {
    height: 100%;
    max-height: 250px;
}